@import "./_normalize.scss";
@import "./_fonts.scss";
@import "./_variables.scss";

body {
  font-family: "Oswald";
  background-color: $red;
}

// temp
#main {
  width: 800px;
  height: 100vh;
  margin: auto;
  background: white;
  color: black;
  padding: 10px 25px;
}
