<header>
  <div class="inner">
    <div class="logo">
    </div>
    <nav class="menu">
      <ul>
        <li>
          {{#link href="/" title="Some title" target="_self" aria-expand="true"}}
            {{../messages.[home.title]}}
          {{/link}}
        </li>
        <li>
          {{#link href="/about"}}
            {{../messages.[about.title]}}
          {{/link}}
        </li>
        <li>
          {{#link}}
            No href
          {{/link}}
        </li>
      </ul>
    </nav>
  </div>
</header>